{% extends 'base.html' %}

{% block content %}
      <div class="slogan container container--90">
        <div class="slogan--item">
          <h1>
            Zacznij pomagać!<br />
            Oddaj niechciane rzeczy w zaufane ręce
          </h1>
        </div>
      </div>
    </header>

    <section id="stats" class="stats">
      <div class="container container--85">
        <div class="stats--item">
          <em>10</em>
          <h3>Oddanych worków</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius est beatae, quod accusamus illum tempora!</p>
        </div>

        <div class="stats--item">
          <em>5</em>
          <h3>Wspartych organizacji</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam magnam, sint nihil cupiditate quas quam.</p>
        </div>

      </div>
    </section>
          <a name="section-4"> </a>
    <section id="steps" class="steps">
      <h2>Wystarczą 4 proste kroki</h2>

      <div class="steps--container">
        <div class="steps--item">
          <span class="icon icon--hands"></span>
          <h3>Wybierz rzeczy</h3>
          <p>ubrania, zabawki, sprzęt i inne</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--arrow"></span>
          <h3>Spakuj je</h3>
          <p>skorzystaj z worków na śmieci</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--glasses"></span>
          <h3>Zdecyduj komu chcesz pomóc</h3>
          <p>wybierz zaufane miejsce</p>
        </div>
        <div class="steps--item">
          <span class="icon icon--courier"></span>
          <h3>Zamów kuriera</h3>
          <p>kurier przyjedzie w dogodnym terminie</p>
        </div>
      </div>

      <a href="{% url 'signup'%}#section-2" class="btn btn--large">Załóż konto</a>
    </section>
                <a name="section-5"> </a>
    <section id="about-us" class="about-us">
      <div class="about-us--text">
        <h2>O nas</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas vitae animi rem pariatur incidunt libero optio esse quisquam illo omnis.</p>
        <img src="images/signature.svg" class="about-us--text-signature" alt="Signature" />
      </div>
      <div class="about-us--image"><img src="images/about-us.jpg" alt="People in circle" /></div>
    </section>

     <section id="help" class="help">
       <a name="section-6"> </a>
      <h2>Komu pomagamy?</h2>

      <ul class="help--buttons">
        <li data-id="1"><a href="#" class="btn btn--without-border active">Fundacjom</a></li>
        <li data-id="2"><a href="#" class="btn btn--without-border">Organizacjom pozarządowym</a></li>
        <li data-id="3"><a href="#" class="btn btn--without-border">Lokalnym zbiórkom</a></li>
      </ul>

      <!-- SLIDE 1 -->

      <div class="help--slides active" data-id="1">
        <p>W naszej bazie znajdziesz listę zweryfikowanych Fundacji, z którymi współpracujemy. Możesz sprawdzić czym się zajmują, komu pomagają i czego potrzebują.</p>

        {% if foundations %}
        <ul class="help--slides-items">
            {% for foundation in foundations %}
          <li>
            <div class="col">
              <div id="foundation_title" class="item_value">{{ foundation.name }}</div>
              <div id="foundation_subtitle" class="item_value">{{ foundation.description }}</div>
            </div>

            <div id="foundation_text" class="item_value">{{ foundation.text }}</div>
          </li>
            {% endfor %}
        </ul>
        <!-- Pagination -->
        <span class="step-links pagination">
            {% if foundations.has_previous %}
                <a href="?page1={{ foundations.previous_page_number }}"> previous </a>
            {% endif %}
            <span class="current">
                Page {{ foundations.number }} of {{ foundations.paginator.num_pages }}
            </span>
            {% if foundations.has_next %}
                <a href="?page1={{ foundations.next_page_number }}"> next </a>
            {% endif %}
        </span>
        {% endif %}
       <!-- -->
      </div>
         <hr />
      <!-- SLIDE 2 -->
      <div class="help--slides" data-id="2">
        <p>
          W naszej bazie znajdziesz listę zweryfikowanych Organizacji
                pozarządowych, z którymi współpracujemy. Możesz sprawdzić czym
                się zajmują, komu pomagają i czego potrzebują.
        </p>
          {% if ngos %}
        <ul class="help--slides-items">
             {% for ngo in ngos %}
        <li>
            <div class="col">
              <div id="foundation_title" class="item_value">{{ngo.name}}</div>
              <div id="foundation_subtitle" class="item_value">{{ngo.description}}</div>
            </div>

            <div id="foundation_text" class="item_value">{{ngo.text}}</div>
          </li>
            {% endfor %}
        </ul>

        <!-- Pagination -->
       <span class="step-links pagination">
            {% if ngos.has_previous %}
                <a href="?page2={{ ngos.previous_page_number }}"> previous </a>
            {% endif %}
            <span class="current">
                Page {{ ngos.number }} of {{ ngos.paginator.num_pages }}
            </span>
            {% if ngos.has_next %}
                <a href="?page2={{ ngos.next_page_number }}"> next </a>
            {% endif %}
        </span>
        {% endif %}
        -->
      </div>

          <hr />
      <!-- SLIDE 3 -->
      <div class="help--slides" data-id="3">
        <p> W naszej bazie znajdziesz listę zweryfikowanych lokalnych
                zbiórek. Możesz sprawdzić jaki jest cel zbiórki i
                jakie są najpilniejsze potrzeby.</p>
           {% if charity %}
        <ul class="help--slides-items">
            {% for char in charity %}
        <li>
            <div class="col">
              <div id="foundation_title" class="item_value">{{char.name}}</div>
              <div id="foundation_subtitle" class="item_value">{{char.description}}</div>
            </div>

            <div id="foundation_text" class="item_value">{{char.text}}</div>
          </li>
            {% endfor %}

        </ul>

        <!-- Pagination -->
        <span class="step-links pagination">
            {% if charity.has_previous %}
                <a href="?page3={{ charity.previous_page_number }}"> previous </a>
            {% endif %}
            <span class="current">
                Page {{ charity.number }} of {{ charity.paginator.num_pages }}
            </span>
            {% if charity.has_next %}
                <a href="?page3={{ charity.next_page_number }}"> next </a>
            {% endif %}
        </span>
        {% endif %}
        -->
      </div>

    </section>
                <a name="section-7"> </a>
    <footer>
      <div id="contact" class="contact">
        <h2>Skontaktuj się z nami</h2>
        <h3>Formularz kontaktowy</h3>
        <form class="form--contact">
          <div class="form-group form-group--50"><input type="text" name="name" placeholder="Imię" /></div>
          <div class="form-group form-group--50"><input type="text" name="surname" placeholder="Nazwisko" /></div>

          <div class="form-group"><textarea name="message" placeholder="Wiadomość" rows="1"></textarea></div>

          <button class="btn" type="submit">Wyślij</button>
        </form>
      </div>
      <div class="bottom-line">
        <span class="bottom-line--copy">Copyright &copy; 2019</span>
        <div class="bottom-line--icons">
          <a href="#" class="btn btn--small"><img src="images/icon-facebook.svg"/></a>
          <a href="#" class="btn btn--small"><img src="images/icon-instagram.svg"/></a>
        </div>
      </div>
    </footer>

    <script src="js/app.js"></script>
  </body>
</html>

{% endblock %}
